#graphic
	position relative
	.graphic__svg
		.person
			opacity 0.1
			transition opacity 150ms ease-in-out

		path.snake
			&--inner
				stroke none
			&--outer
				fill none
				stroke-width 2px
				stroke $gray
				stroke-linecap round
				stroke-linejoin round
				
		path.spine
			fill none
		
		.g-axis
			path
				display none
			line
				stroke-dasharray 2px 2px
				stroke $gray
				stroke-width 0.5px
		

	.graphic__info
		position absolute
		.person
			position absolute
			display flex
			transform translate(-100%, 0.5rem)
			align-items center
			margin-left $thumb-size * 0.5
			cursor pointer
			&.is-active
				p.name
					opacity 1
				.thumbnail
					filter grayscale(50%)
		p.name
			margin 0.5em
			set-type-size(medium, false)
			line-height 1.2
			order 0
			text-align right
			opacity 0
			text-shadow 0 0 5px white
			font-weight 600
			background rgba(white, 0.5)
			border-radius 5px
			padding 0 0.25em

		.thumbnail
			min-width $thumb-size
			min-height $thumb-size
			background $gray-light
			border-radius 50%
			border 1px solid $gray
			background-repeat no-repeat
			background-size cover
			background-position 50% 0
			filter grayscale(100%)
			box-shadow 0 0 6px 3px $bg
		
		.overlay
			width 100%
			height 100%
			position absolute
			background white
		

		.track
			position absolute

	.graphic__nametag
		position fixed
		left 0
		top 50%
		margin-top 0
		z-index set-index(overlay)
		// transition margin-top 100ms
		li
			set-type-size(x-small, false)
			line-height 1
			padding 0.25em 0.5em
			opacity 0.5
			cursor pointer
			transition opacity 100ms ease-in-out
			color green
			&.is-rising
				color red
			&:hover
				opacity 1
			&.is-active
				opacity 1
				font-weight 600

.test
	z-index 10000
	width 100%
	height 20vh
	border-top 2px dotted black
	border-bottom 2px dotted black
	position fixed
	top 50%
	transform translateY(-50%)
	opacity 0.2
	pointer-events none