#graphic .graphic__people
	position absolute
	&.is-visible
		.person svg
				pointer-events auto
	.person
		position absolute
		pointer-events none
		// SVG
		.chart
			display block
			pointer-events none
			opacity 0
			background $bg
			position fixed
			left 50%
			top 4rem
			transform translateX(-50%)
			&.is-viewable
				opacity 1
			&:after
				content ''
				display block
				position absolute
				top 100%
				left 50%
				width 200%
				height 3rem
				transform translateX(-50%)
				background linear-gradient(to top,rgba($bg,0) 0, rgba($bg,0.25) 50%, $bg 100%)

			+mq('bp-4')
				position static
				left auto
				top auto
				opacity 1
				background transparent
				transition opacity 150ms ease-in-out
				transform translateX(0)
				&:after
					display none
		svg
			width 100%
			height 100%
			pointer-events none

		
		text
			fill $fg
			font-family $mono
			font-size 12px
			font-weight 600
			opacity 0.8
			text-transform uppercase
		
		path.snake
			&--inner
				stroke none
				fill lighten($bg, 4)
			&--outer
				fill none
				stroke-width 2px
				stroke darken($bg, 4)
				stroke-linecap round
				stroke-linejoin round
		.g-tip
			opacity 0
			&.is-visible
				opacity 1
		.g-tip line
			stroke white
			stroke-width 2px
			stroke-opacity 0.5
			stroke-dasharray 2px 2px
		.g-tip text.bg
			stroke-width 3px
			stroke $bg
			fill none

		.g-axis
			+mq('bp-4')
				display none		
			path
				display none
			line
				stroke-dasharray 2px 2px
				stroke darken($fg, 50)
				stroke-width 0.5px
			.axis--x
				.tick:nth-child(2)
					display none
				.tick:nth-child(9) text
					display none
					+mq('bp-4')
						display block
			.axis--y
				.tick:nth-child(2),.tick:nth-child(11)
					display none
				.tick.is-tutorial:nth-child(3) text
					animation tick 600ms 0ms ease-in-out
				.tick.is-tutorial:nth-child(4) text
					animation tick 600ms 200ms ease-in-out
				.tick.is-tutorial:nth-child(5) text
					animation tick 600ms 400ms ease-in-out
				.tick.is-tutorial:nth-child(6) text
					animation tick 600ms 600ms ease-in-out
				.tick.is-tutorial:nth-child(7) text
					animation tick 600ms 800ms ease-in-out
				.tick.is-tutorial:nth-child(8) text
					animation tick 600ms 1000ms ease-in-out
				.tick.is-tutorial:nth-child(9) text
					animation tick 600ms 1200ms ease-in-out
				.tick.is-tutorial:nth-child(10) text
					animation tick 2400ms 1400ms ease-in-out
				


	// INFO
	.info
		position relative
		width 6rem
		left 0
		display flex
		flex-direction column
		align-items center
		transform translate(-2.5rem, 2.5rem)
		+mq('bp-4')
			position absolute
			width 100%
			left auto
			right 100%
			flex-direction row
			transform translateX(2.5rem)
			cursor pointer
			justify-content flex-end
			
		p.name
			margin 0.5em
			set-type-size(x-small, false)
			text-align center
			line-height 1.2
			opacity 0
			text-shadow 0 0 1px $fg
			font-weight 600
			position relative
			order 1
			width 100%
			+mq('bp-4')
				transform translate($thumb-size * 0.5, $thumb-size * -0.25)
				set-type-size(root, false)
				order 0
				text-align right
				display inline-block
			.display
				background-color rgba($bg, 0.9)
				padding 0.25em
				box-decoration-break clone
				line-height 1.45
				box-shadow -0.25rem 0 0 rgba($bg, 0.9), 0.25rem 0 0 rgba($bg, 0.9)


		.thumbnail
			min-width $thumb-size
			min-height $thumb-size
			background $bg
			border-radius 50%
			border 1px solid $bg
			background-color $gray
			background-repeat no-repeat
			background-size cover
			background-position 50% 0
			filter grayscale(50%)
			box-shadow 0 0 6px 3px $bg
			pointer-events auto
			transform scale(0.5) translate(0, -50%)
			+mq('bp-4')
				transform scale(0.5) translate(50%, -50%)


		span.description
			position absolute
			top 100%
			right 50%
			margin 0
			set-type-size(xx-small, true)
			font-weight 400
			color darken($fg, 20)
			padding 0 0.5em
			opacity 0
			text-transform uppercase
			transform translate(50%, -2.5rem)
			letter-spacing 0.05em
			background-color rgba($bg, 0.9)
			box-shadow -0.25rem 0 0 rgba($bg, 0.9), 0.25rem 0 0 rgba($bg, 0.9)
			text-align center
			+mq('bp-4')
				right 0
				transform translateY(-2.5rem)
				text-align right

				
	.person.is-highlight
		p.name
			opacity 1
			transform translate(0, $thumb-size * -0.5)
			+mq('bp-4')
				transform translate($thumb-size * 0.5, $thumb-size * -0.25)
		span.description
			opacity 1
			transform translate(50%, 0)
			+mq('bp-4')
				transform translate(0, 0)

	.person.is-hover
		p.name
			opacity 1
			transform translate(0, $thumb-size * -0.5)
			+mq('bp-4')
				transform translate($thumb-size * 0.5, $thumb-size * -0.25)
		span.description
			opacity 1
			transform translate(50%, 0)
			+mq('bp-4')
				transform translate(0, 0)
		svg
			opacity 1
			.snake--inner
				fill url('#linear-gradient--inner')
			.snake--outer
				stroke url('#linear-gradient--outer')
	
	.person.is-active
		pointer-events auto
		p.name
			opacity 1
			transform translate(0, 0)
			+mq('bp-4')
				transform translate(0, 0)
		.thumbnail
			// transition transform 250ms ease-in-out
			transform scale(1) translate(0, 0)
			box-shadow 0 0 3px 3px $fg
			border-color $fg
		span.description
			opacity 1
			transform translate(50%, 0)
			+mq('bp-4')
				transform translate(0, 0)
		svg
			opacity 1
			cursor crosshair
			.snake--inner
				fill url('#linear-gradient--inner')
			.snake--outer
				stroke url('#linear-gradient--outer')

	.person[data-article="Cardi_B"]
		.g-axis
			display block

@keyframes tick
	0%
		fill $fg
		opacity 0.8
	50%
		fill $red
		opacity 1
	100%
		fill $fg
		opacity 0.8


