#graphic .graphic__people
	position relative
	display flex
	flex-wrap wrap
	justify-content space-around
	+mq('bp')
		position absolute
		display block
	&.is-visible
		.person svg
				pointer-events auto
	.person
		margin-top 3rem
		+mq('bp')
			position absolute
			pointer-events none
			margin-top 0
		// SVG
		.chart
			background transparent
			+mq('bp')
				transition opacity 150ms ease-in-out
				transform translateX(0)
			&.is-visible
				opacity 1
		svg
			width 100%
			height 100%
			pointer-events none

		
		text
			fill $fg
			font-family $mono
			font-size 12px
			font-weight 600
			opacity 0.8
			text-transform uppercase
		
		path.snake
			&--inner
				stroke none
				fill lighten($bg, 4)
			&--outer
				fill none
				stroke-width 2px
				stroke darken($bg, 4)
				stroke-linecap round
				stroke-linejoin round
		.g-tip
			opacity 0
			&.is-visible
				opacity 1
		.g-tip line
			stroke white
			stroke-width 2px
			stroke-opacity 0.5
			stroke-dasharray 2px 2px
		.g-tip text.bg
			stroke-width 3px
			stroke $bg
			fill none

		.g-axis
			+mq('bp')
				display none		
			path
				display none
			line
				stroke-dasharray 2px 2px
				stroke darken($fg, 50)
				stroke-width 0.5px
			.axis--x
				.tick:nth-child(2)
					display none
				.tick:nth-child(9) text
					display none

			.axis--y
				.tick:nth-child(2),.tick:nth-child(11)
					display none
				.tick.is-tutorial:nth-child(3) text
					animation tick 600ms 0ms ease-in-out
				.tick.is-tutorial:nth-child(4) text
					animation tick 600ms 200ms ease-in-out
				.tick.is-tutorial:nth-child(5) text
					animation tick 600ms 400ms ease-in-out
				.tick.is-tutorial:nth-child(6) text
					animation tick 600ms 600ms ease-in-out
				.tick.is-tutorial:nth-child(7) text
					animation tick 600ms 800ms ease-in-out
				.tick.is-tutorial:nth-child(8) text
					animation tick 600ms 1000ms ease-in-out
				.tick.is-tutorial:nth-child(9) text
					animation tick 600ms 1200ms ease-in-out
				.tick.is-tutorial:nth-child(10) text
					animation tick 2400ms 1400ms ease-in-out
				


	// INFO
	.info
		position relative
		display flex
		justify-content flex-start
		align-items center
		transform translateY(1rem)
		padding-left 0.5em
		+mq('bp')
			padding-left 0
			position absolute
			width 100%
			left auto
			right 100%
			flex-direction row
			transform translateX(2.5rem)
			cursor pointer
			justify-content flex-end
			align-items flex-start
		
		button.annotation
			background-color $yellow
			display none
			position absolute
			top 0
			right 0
			transform translate(-100%, -25%)
			border-radius 50%
			width 3rem
			height 3rem
			line-height 1
			cursor pointer
			order 2
			.icon, .time
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				margin 0
				visibility hidden
				line-height 3rem
				&.is-visible
					visibility visible
			svg
				cursor pointer
				width 1.5rem
				height 1.5rem
				vertical-align middle
				transform translateY(0%)
				polygon, path 
					stroke $bg
				
			&.is-visible
				display block
				
			&.is-playing
				// background-color $red

		p.name
			margin 0.5em
			set-type-size(small, false)
			text-align center
			line-height 1.2
			text-shadow 0 0 1px $fg
			font-weight 600
			position relative
			width 100%
			order 1
			text-align left
			+mq('bp')
				opacity 0
				transform translate($thumb-size * 0.5, $thumb-size * -0.25)
				set-type-size(root, false)
				order 0
				text-align right
				display inline-block
		span.display
			background-color rgba($bg, 0.9)
			padding 0.25em
			box-decoration-break clone
			line-height 1.45
			box-shadow -0.25rem 0 0 rgba($bg, 0.9), 0.25rem 0 0 rgba($bg, 0.9)
			display block
			+mq('bp')
				display inline

		.thumbnail
			min-width $thumb-size
			min-height $thumb-size
			max-width $thumb-size
			max-height $thumb-size
			background $bg
			border-radius 50%
			border 1px solid $bg
			background-color $gray
			background-repeat no-repeat
			background-size cover
			background-position 50% 0
			filter grayscale(50%)
			box-shadow 0 0 6px 3px $bg
			pointer-events auto
			// transform scale(0.5) translate(0, -50%)
			+mq('bp')
				transform scale(0.5) translate(50%, -50%)


		span.description
			display block
			margin 0
			set-type-size(xx-small, true)
			font-weight 400
			color darken($fg, 20)
			padding 0 0.5em
			text-transform uppercase
			letter-spacing 0.05em
			background-color rgba($bg, 0.9)
			box-shadow -0.25rem 0 0 rgba($bg, 0.9), 0.25rem 0 0 rgba($bg, 0.9)
			text-align left
			+mq('bp')
				display inline
				opacity 0
				position absolute
				top 100%
				right 0
				transform translateY(-2.5rem)
				text-align right

				
	.person.is-highlight
		p.name
			opacity 1
			+mq('bp')
				transform translate($thumb-size * 0.5, 0)
		span.description
			opacity 1
			+mq('bp')
				transform translate(0, 0)

	.person.is-hover
		p.name
			opacity 1
			+mq('bp')
				transform translate($thumb-size * 0.5, 0)
		span.description
			opacity 1
			+mq('bp')
				transform translate(0, 0)
		svg
			opacity 1
			.snake--inner
				fill url('#linear-gradient--inner')
			.snake--outer
				stroke url('#linear-gradient--outer')
	
	.person.is-active
		p.name
			opacity 1
			+mq('bp')
				transform translate(0, 50%)
		.thumbnail
			transform scale(1) translate(0, 0)
			box-shadow 0 0 3px 3px $fg
			border-color $fg
		span.description
			opacity 1
			+mq('bp')
				transform translate(0, 0)
		svg
			opacity 1
			cursor crosshair
			pointer-events auto
			.snake--inner
				fill url('#linear-gradient--inner')
			.snake--outer
				stroke url('#linear-gradient--outer')

	.person[data-article="Cardi_B"]
		.g-axis
			display block

@keyframes tick
	0%
		fill $fg
		opacity 0.8
	50%
		fill $red
		opacity 1
	100%
		fill $fg
		opacity 0.8


