/* CUSTOM STORY STYLE */
body
	font-family $mono
button
	font-family $mono
main
	// height 100.1vh
	// overflow hidden
	// &.is-ready
		// height auto
#graphic
	position relative
	visibility hidden
	&.is-visible
		visibility visible

.graphic__subtitles
	position fixed
	bottom 3rem
	left 3rem
	max-width 40rem
	z-index set-index(overlay)
	background-color rgba($bg, 0.9)
	padding 0.75rem
	border-radius 5px
	p
		margin 0
		set-type-size(small)