/* CUSTOM STORY STYLE */
body
	font-family $mono
button
	font-family $mono
main
	// height 100.1vh
	// overflow hidden
	// &.is-ready
		// height auto
#graphic
	position relative
	visibility hidden
	&.is-visible
		visibility visible

.graphic__subtitles
	position fixed
	bottom 2.8rem
	left 2.8rem
	width 33%
	min-width 18rem
	z-index set-index(overlay)
	background-color rgba($bg, 0.9)
	padding 0.75rem
	border-radius 5px
	pointer-events none
	visibility hidden
	&.is-end
		opacity 0
	&.is-visible
		visibility visible
	p
		margin 0
		set-type-size(small)

.graphic__options
	position fixed
	top 0
	right 3rem
	display flex
	z-index set-index(overlay)
	padding 1rem 0
	background-color rgba($bg, 0.75)
	button
		background transparent
		display block
		margin 0
		set-type-size(x-small)
		text-transform uppercase
		letter-spacing 0.05em
		cursor pointer
		color $fg
		margin-right 1rem
		border-bottom 1px solid $fg
		
#outro
	padding 3rem 1rem
	max-width 40rem
	margin 0 auto
	margin-top 5rem