/* CUSTOM STORY STYLE */
body
	font-family $mono
button
	font-family $mono

#graphic
	position relative
	visibility hidden
	min-height 1200px
	&.is-visible
		visibility visible

.graphic__subtitles
	position fixed
	bottom 2rem
	width 100%
	max-width 32rem
	z-index set-index(overlay)
	background-color rgba($bg, 0.9)
	padding 0.75rem
	padding-bottom 0.5rem
	pointer-events none
	visibility hidden
	left 50%
	transform translate(-50%, 0)
	+mq('bp')
		bottom 0
		
	&.is-end
		opacity 0
	&.is-visible
		visibility visible
	p
		margin 0
		set-type-size(small, true)

.graphic__options
	position fixed
	top 0
	right 3rem
	display flex
	z-index set-index(overlay) + 1000
	padding 1rem 0
	background-color rgba($bg, 0.75)
	visibility hidden
	&.is-visible
		visibility visible
	button
		background transparent
		display block
		margin 0
		set-type-size(x-small)
		text-transform uppercase
		letter-spacing 0.05em
		cursor pointer
		color $fg
		margin-right 1rem
		border-bottom 1px solid $fg
		
#outro
	padding 1rem
	margin-top 0
	+mq('bp')
		margin-top 3rem
	a
		text-decoration none
		border-bottom 1px solid $bg
		color $bg
		&:visited, &:hover
			color $bg
	p
		background $yellow
		color $bg
		set-type-size(x-small, true)
		max-width 42rem
		margin 1.5rem auto
		padding 0.75rem

.hide--mobile
	@media (max-width: 879px)
		display none

.hide--desktop
	+mq('bp')
		display none