<section id='graphic'>
	<div class='graphic__people'></div>
	<div class='graphic__tracks'></div>
	<ul class='graphic__nametag'></ul>
	<div class='graphic__grid'>
		<div class='grid grid__x'>
			<p class='x--left'>@@include('arrow-left.svg') Ascended faster</p>
			<p class='x--right'>Ascended slower @@include('arrow-right.svg')</p>
		</div>
		<div class='grid grid__y'>
			<p class='y--bottom'>@@include('arrow-left.svg') Less pageviews</p>
			<p class='y--top'>More pageviews @@include('arrow-right.svg')</p>
		</div>
	</div>
	<ul class='graphic__legend'>

	</ul>
</section>
