<section id='graphic' class='tk-atlas'>
	<svg class='graphic__svg'>
		<g class='g-axis'></g>
		<g class='g-vis'>
			{{> story/above }}
		</g>
	</svg>
	<div class='graphic__info'>
		<div class='info__person'></div>
		<div class='info__track'></div>
	</div>
	<ul class='graphic__nametag'></ul>
</section>